@import '../../../styles/variables.css';

#container {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 30px;
}

#container a {
  text-decoration: none;
}


.box {
  border-radius: 2px;
  width: 100px;
  height: 100px;
  background-color: var(--blue);
  margin-left: 20px;
  color: var(--white); 
  text-align: center; 
  padding: 15px;
}

.iconLoader {
  height: 45px;
  width: 45px;
  padding-top: 9px;
}

@media (max-width: 768px) {
  .box {
    width: 58px;
    height: 60px;
    margin-left: 9px;
    padding: 10px;
    font-size: 9px;
    opacity: 0.9;
  }

  .iconLoader {
    height: 40px;
    width: 40px;
  }

}


@media (max-width: 320px) {
  .box {
    width: 57px;
    height: 65px;
    font-size: 10px;
    padding: 5px; 
    margin-left: 10px;
    opacity: 0.9;
  }

  .iconLoader {
    height: 35px;
    width: 35px;
  }

}
