@import '../../../../styles/variables.css';

.container {
  display: flex;
  justify-content: center;
}

.page {
  width: 1000px;
  text-align: center;
  height: 400px;
  background: url(../Logo/logo.gif) no-repeat;
  background-size: 15%;
  background-position: right bottom;
  background-color: silver;
  padding: 15px;
}

.viewCalc {
  padding-top: 100px;
  height: 320px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .viewCalc {
    font-size: 11px;
  }
}

/* тут залупа */
@media (max-width: 320px) {
  .viewCalc {
    font-size: 15px;
    width: 320px;

  }
}