@import '../../../../styles/variables.css';

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    display: inline-block;
}

.nav .xuy {
    text-decoration: none;
    color: #fff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 5px 16px;
    transition: all .3s;
    cursor: pointer;
}

.nav .xuy:hover {
    border-color: #ffffff;
}

.nav li+li {
    padding-left: 10px;
}

.burger {
    display: none;
}

@media (max-width: 1070px) {
    .nav .xuy {
        font-size: 20px;
    }
    .menu {
        min-width: 550px;
    }
}

@media (max-width: 856px) {
    .nav .xuy {
        font-size: 16px;
    }
    .menu {
        max-width: 200px;
    }
}

@media (max-width: 700px) {
    .menu {
        display: flex;
        min-width: 100px;
        justify-content: flex-start;
        flex-direction: row-reverse;
    }
    .nav {
        --transition-time: 500ms;
        width: 100%;
        top: 85px;
        position: absolute;
        z-index: 50;
    }
    .nav ul {
        padding-left: 16px;
    }
    .nav li {
        display: block;
        text-align: center;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        background-color: #f1f1f1;
    }
    .nav li :hover {
        background-color: #ddd;
    }
    .nav li+li {
        padding: 0;
    }
    .nav li .xuy {
        display: block;
        font-size: 22px;
        color: black;
        border-top: 1px solid #fff;
    }
    .burger {
        display: inline-block;
    }
    .hide {
        display: none;
    }
}
/* testing header menu fixed */
.header_fixed {
    padding-left: 320px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 320px;
    background-color: var(--blue);
    animation-name: show_header;
    animation-duration: 1s;
    z-index: 9999;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 5px 16px;
    height: 84px;
}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}