.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    width: 85px;
    background-color: #C4C4C4;
    color: white;
    font-size: 16px;
    border: none;
    display: flex;
    align-items: center;
    transition: all .3s;
}

.dropbtn span {
    margin-left: 3px;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 51;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown {
    margin-left: 10px;
}

@media (max-width: 940px) {
    .dropdownContent {
        max-width: 85px;
    }
    .dropdownContent a {
        color: black;
        padding: 5px 0;
        text-align: center;
    }
}

@media (max-width: 750px) {
    .dropbtn {
      margin-right: 20px;
    }
}

.flagHW {
    height: 32px;
    width: 32px;
}